$disabled-button-color: #8d99ae

$default-button-color: #778da9

$primary-button-color: #3a86ff

$secondary-button-color: #ff9b1e

$tertiary-button-color: #231942

$success-button-color: #0ead69

$danger-button-color: #c81d25

$warning-button-color: #fcca46